<ion-view view-title="Xin chào {{nhanvien.tennv}}">
    <ion-content ng-show="!isAuthenticated">
        <div>Bạn Cần Đăng Nhập</div>
    </ion-content>
    <ion-content ng-show="isAuthenticated">
        <div class="list">
            <div class="item item-positive item-button-left text-center">
                <b>BIỂU ĐỒ THỐNG KÊ</b>
            </div>
            <div class="item ">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick" ></canvas>
            </div>
        </div>
</ion-content>
</ion-view>