<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Xin chào {{nhanvien.tennv}}</h1>
    </div>
    <ion-content ng-show="!isAuthenticated">
        <div>Bạn Cần đăng nhập</div>
    </ion-content>
    <ion-content ng-show="isAuthenticated">

        <div class="list">
            <div class="item item-divider ">
                <b>Upload Hình ảnh</b>
            </div>
            <div class="item">
                <img class="chat-img" ng-if="img" ng-src="{{img}}">
            </div>
            <div class="item item-divider">
                <b>Xác định GPS</b>
            </div>
            <div class="item">
                <map inline="true" class="inline-map" lat="{{map.lat}}" lon="{{map.lon}}" ng-if="map.lat && map.lon"> </map>
            </div>
        </div>
</ion-content>
    <ion-footer-bar class="item-input-inset bar-positive">
        <label class="item-input-wrapper">
            <input class="footerInput" type="search" placeholder="Nhập tiêu đề ảnh" ng-model="hinh.title">
        </label>
        <div class="button">
            <button class="button button-dark ion-more" ng-click="showActionSheet()"></button>
            <button class="button button-dark ion-refresh" ng-click="getHinh()"></button>
        </div>
    </ion-footer-bar>
</ion-view>
