<ion-view view-title="Xin chào {{nhanvien.tennv}}" >
    <ion-content ng-show="!isAuthenticated" scroll="false">
        <div>Bạn Cần đăng nhập</div>
    </ion-content>
    <ion-content ng-show="isAuthenticated" >
        <div class="list">
            <div class="item item-positive text-center">
                <b>BÁO CÁO THỐNG KÊ</b>
            </div>
            <label class="item item-input ">
                <div class="input-label">
                    Chọn dịch vụ:
                </div>
                <ion-scroll style="height: 100px">
                    <ion-list>
                        <ion-checkbox ng-repeat="dv in dsDichVu" ng-model="dv.chon">{{dv.name}}</ion-checkbox>
                    </ion-list>
                </ion-scroll>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Loại thống kê:
                </div>
                <select ng-model="myThongKe.p_loaithongke">
                    <option ng-repeat="tk in dsLoaiTK" value="{{tk.id}}">{{tk.name}}</option>
                </select>
            </label>

            <label class="item item-input item-input item-button-right">
                <div class="input-label">
                    Từ ngày:
                </div>
                <div class="input-label">
                    {{myThongKe.p_TuNgay}}
                </div>
                <button class="button" ng-click="selectTuNgay()">
                    <i class="icon ion-ios-calendar-outline"></i>
                </button>
            </label>
            <label class="item item-input item-input item-button-right">
                <div class="input-label">
                    Đến ngày:
                </div>
                <div class="input-label">
                    {{myThongKe.p_DenNgay}}
                </div>
                <button class="button" ng-click="selectDenNgay()">
                    <i class="icon ion-ios-calendar-outline"></i>
                </button>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Cấp độ xem:
                </div>
                <select ng-model="myThongKe.p_loaidonvi" ng-change="selectLoaiDonVi()">
                    <option ng-repeat="loaiDonVi in dsLoaiDonVi" value="{{loaiDonVi.key}}">{{loaiDonVi.value}}</option>
                </select>
            </label>

            <label class="item text-center">
                <button class="button  icon-right ion-chevron-right button-calm" ng-disabled="(!myThongKe.p_loaithongke && !myThongKe.p_dichvu) || !myThongKe.p_TuNgay || !myThongKe.p_DenNgay || !myThongKe.p_loaidonvi" type="submit" ng-click="thongKe()">
                    Xuất thống kê
                </button>
            </label>

        </div>

</ion-content>
</ion-view>